.task-view {
  width: 20rem;
}

.task-edit {
  width: 20rem;
}

.task-edit input {
  width: 15rem;
  height: 2rem;
  border-radius: 10px;
  text-align: center;
}

.task-edit button {
  margin-top: 5px;
}

.task-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.task-buttons button {
  border-radius: 10px;
  width: 60px;
}

.completed {
  text-decoration: line-through;
}
