.task-view {
  width: 20rem;
}

.task-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.task-buttons button {
  border-radius: 10px;
  width: 60px;
}

.completed {
  text-decoration: line-through;
}
